
:root {
$brandcolor1: white; 
$brandcolor2: gray;
$brandcolor3: black;
$button-no-hover:;
$button-hover:;
}

body, html {
	height: 100%;
}

.asteriskField {
    display: none;
}

.bg-img { 
    /* The image used */
    background-image: url("../images/home_background.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
	height: 100%;
}

.row {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

p#front-page {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: center;
}

p#front-page-error-message {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
}

h1#front-page {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	text-align: center;
}

label.requiredField {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	text-align: center;
}

a#nav-front-page {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: gray;
}

a:hover#nav-front-page {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: black;
	text-decoration: none;
}

.btn-primary {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}





