{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm" id="front-page">
    </div>
   <div class='col-sm' id="front-page">
	<div class="d-flex justify-content-center">
   		<h1 id="front-page">{{ form_title }}</h1>
   	</div>
<form method="POST">
	{% csrf_token %}
	{{ form|crispy }}
  <button type="submit" class="btn btn-primary">{{ form_title }}</button>
</form>
	<div class="d-flex justify-content-center">
   	<p id="front-page"> If you meant to {{ opposite_link_message }}, <a id="front-page" href="/{{ opposite_link }}/signup">click here</a></p>
   	</div>
</div>
    <div class="col-sm" id="front-page">
    </div>
  </div>
</div>
{% endblock %}


