{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if validlink %}

<style>

ul {
	display: none;
}

</style>

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-md-3" id="front-page">
    </div>
   	<div class='col-md-auto' id="front-page">
		<div class="d-flex justify-content-center">
			<h1>Change Password</h1>
   		</div>
		<form method="POST">

			{% csrf_token %}
			{{ form|crispy }}
  			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		{% ifequal form_title "Sign Up" %}
		<div class="mt-4">
   			<p id="front-page"> If you meant to {{ opposite_link_message }}, <a id="front-page" href="/{{ opposite_link }}/signup">click here</a></p>
   		</div>
		{% else %}
		<div class="mt-4">
   			<p id="front-page-error-message">{{ error_message }}</p>
   		</div>
		{% endifequal %}
	</div>
    <div class="col col-md-3" id="front-page">
    </div>
  </div>
</div>
{% else %}
<div class="container-fluid">
  <div class="row">
    <div class="col" id="front-page">
    </div>
   	<div class='col-6' id="front-page">
		<div id="message-box">
<p>
	The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>
   		</div>
	</div>
    <div class="col" id="front-page">
    </div>
  </div>
</div>

{% endif %}
{% endblock %}


