{% extends 'home/base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-md-3" id="front-page">
    </div>
   	<div class='col-md-auto' id="front-page">
		<div id="message-box">
<p>
We've emailed you instructions for resetting your password. If an account exists with the email you entered, you should receive it shortly.
</p>
<p>
If you don't receive an email, please make sure you've entered the correct email address and check your spam folder.
</p>
   		</div>
	</div>
    <div class="col col-md-3" id="front-page">
    </div>
  </div>
</div>

{% endblock %}


