{% extends 'home/base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-md-3" id="front-page">
    </div>
   	<div class='col-md-auto' id="front-page">
		<div id="message-box">
   			<h3 id="front-page-password-reset"> Your password has been reset! You may now use it to <a href=
   				"{% url 'login' %}"> log in.</a></h3>
   		</div>
	</div>
    <div class="col col-md-3" id="front-page">
    </div>
  </div>
</div>

{% endblock %}

